/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

:root{
    --main-red-color: #FF7979;
    --main-green-color: #38CC8B;
    --main-blue-color: #5E54A4;
    --main-darkgrey-color: #3D3B48;
    --main-white-color: #ffffff;
    --main-border-radius: 5px;
}


/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ 
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ 
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ 
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--main-white-color);

}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}


.intro__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto;
    background-image: url("../Images/Desktop\ -\ Active\ States.png");
    background-repeat: no-repeat;
    width: 1440px;
}

.intro__info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 525px;
}

.intro__info__title{
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: var(--main-white-color);
}

.intro__info__desc{
    line-height: 26px;
    color: var(--main-white-color);
}


.intro__button{
    font-weight: 400;
    padding: 17px 105px;
    text-decoration: none;
    color: var(--main-white-color);
    background: var(--main-blue-color);
    -webkit-box-shadow: 0px 8px 0px #00000025;
            box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
}

.intro__contents{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro__contact{
    margin-left: 45px;
    padding: 121px 0;
}

.intro__form{
    width: 540px;
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--main-white-color);
}


.intro__input{
    width: 420px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px 0;
    padding-left: 32px;
    caret-color: var(--main-blue-color);
}

.intro__input__first{
    margin-top: 40px;
}

.intro__input__last{
    margin-bottom: 20px;
}

.intro__button__second{
    width: 460px;
    margin-left: 40px;
    margin-bottom: 8px;
    padding: 15px;
    color: var(--main-white-color);
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    background: var(--main-green-color);
    text-align: center;
    border: none;
    -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
            box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: var(--main-border-radius);
}

.intro__contact__desc{
    color: #BAB7D4;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
}

.intro__contact__span{
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: var(--main-red-color);
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

.form-span{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 44px;
    opacity: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    float: right;
    color: #FF7979;
}

.form-span-last{
    margin-top: -15px;
    margin-bottom: 19px;
}

.intro__input:not(:placeholder-shown):not(:focus):invalid ~ .form-span{
    opacity: 1;
}

.intro__input:not(:placeholder-shown):not(:focus):invalid{
    color: #FF7979;
    border: 2px solid #FF7979;
    background-image: url("../Images/input-invalid.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
}
